<div class="jumbotron">
    <h1 class="display-4">Welcome to Meliran</h1>
    <hr class="my-4">
    <p>Explore our events and learn more about us.</p>
    <a class="btn btn-primary btn-lg" href="/events" role="button">View Events</a>
</div>