<div class="jumbotron">
    <h1 class="display-4">Welcome to Meliran</h1>
    <p class="lead">
        <a href="/">Home</a> | 
        <a href="/about">About</a> | 
        <a href="/contact">Contact</a> | 
        <a href="/team">Team</a>
    </p>
    <hr class="my-4">
    <p>Explore our events and learn more about us.</p>
    <a class="btn btn-primary btn-lg" href="/events" role="button">View Events</a>
</div>