<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/events">Events</a>
    </nav>

    <main>
      <%- content %>  <%# This is where page content will be inserted %>
    </main>

    <footer>
        <p>© 2025 Meliran</p>
    </footer>
</body>
</html>
